In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/country_development_data.csv")

In [4]:
data = data[['Country', 'Max Latitude', 'Min Latitude', 'Max Longitude', 'Min Longitude']]

In [5]:
data

,Country,Max Latitude,Min Latitude,Max Longitude,Min Longitude
0,Afghanistan,0.602919,0.723203,0.700916,0.694015
1,Albania,0.639673,0.806625,0.547690,0.575061
2,Algeria,0.590785,0.638480,0.521881,0.494401
3,Angola,0.226062,0.337267,0.556283,0.553128
4,Antigua and Barbuda,0.420557,0.622284,0.312344,0.340846
...,...,...,...,...,...
157,Vanuatu,0.149829,0.319199,0.971261,1.000000
158,Venezuela (Bolivarian Republic of),0.402708,0.489298,0.317608,0.307659
159,Yemen,0.431724,0.582567,0.643012,0.642243
160,Zambia,0.192649,0.336941,0.583627,0.582881
161,Zimbabwe,0.127407,0.301701,0.581835,0.592231

In [6]:
data.to_csv("../data/country_development_data.csv")