In [2]:
import pandas as pd
import numpy as np

In [3]:
data_country_location = pd.read_csv('../data/temporal_country_data/country_location_data.csv')

In [4]:
data_country_location.head()

,Country Name,Max Latitude,Min Latitude,Max Longitude,Min Longitude,Country Code
0,Afghanistan,0.602919,0.723203,0.700916,0.694015,AFG
1,Albania,0.639673,0.806625,0.547690,0.575061,ALB
2,Algeria,0.590785,0.638480,0.521881,0.494401,DZA
3,Angola,0.226062,0.337267,0.556283,0.553128,AGO
4,Antigua and Barbuda,0.420557,0.622284,0.312344,0.340846,ATG

In [6]:
DISTINCT_COUNTRIES_LOCATION = len(set(data_country_location['Country']))

In [22]:
DISTINCT_COUNTRIES_LOCATION

162

In [26]:
data_daily_exchange_rates = pd.read_csv('../data/temporal_country_data/daily_exchange_rates_USD.csv')

In [27]:
data_daily_exchange_rates.head()

,date,AE:United Arab Emirates,AL:Albania,AR:Argentina,AT:Austria,AU:Australia,BA:Bosnia and Herzegovina,BE:Belgium,BG:Bulgaria,BH:Bahrain,...,TR:Turkey,TT:Trinidad and Tobago,TW:Chinese Taipei,UA:Ukraine,US:United States,UY:Uruguay,VE:Venezuela,XM:Euro area,XW:World,ZA:South Africa
0,1979-01-02,3.671,141.05,0.991,0.961232,0.868206,1.548559,0.708233,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.720487,0.7643,0.86957
1,1979-01-03,3.671,141.05,0.991,0.980871,0.872981,1.548559,0.721863,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.734279,0.7708,0.86957
2,1979-01-04,3.671,141.05,0.991,0.987190,0.874126,1.548559,0.725338,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.737121,0.7734,0.86957
3,1979-01-05,3.671,141.05,0.991,0.982477,0.874126,1.548559,0.721373,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.735262,0.7718,0.86957
4,1979-01-06,3.671,141.05,0.991,0.982477,0.874126,1.548559,0.721373,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.735262,0.7718,0.86957

In [30]:
data_daily_exchange_rates.columns = [c if c == 'date' else c.split(':')[-1] for c in data_daily_exchange_rates.columns]

In [31]:
data_daily_exchange_rates.head()

,date,United Arab Emirates,Albania,Argentina,Austria,Australia,Bosnia and Herzegovina,Belgium,Bulgaria,Bahrain,...,Turkey,Trinidad and Tobago,Chinese Taipei,Ukraine,United States,Uruguay,Venezuela,Euro area,World,South Africa
0,1979-01-02,3.671,141.05,0.991,0.961232,0.868206,1.548559,0.708233,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.720487,0.7643,0.86957
1,1979-01-03,3.671,141.05,0.991,0.980871,0.872981,1.548559,0.721863,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.734279,0.7708,0.86957
2,1979-01-04,3.671,141.05,0.991,0.987190,0.874126,1.548559,0.725338,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.737121,0.7734,0.86957
3,1979-01-05,3.671,141.05,0.991,0.982477,0.874126,1.548559,0.721373,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.735262,0.7718,0.86957
4,1979-01-06,3.671,141.05,0.991,0.982477,0.874126,1.548559,0.721373,0.02825,0.376,...,0.000025,5.834,39.419998,1.761,1.0,3.637,0.10605,0.735262,0.7718,0.86957

In [32]:
data_daily_exchange_rates.to_csv('../data/temporal_country_data/daily_exchange_rates_USD.csv', index=False)

In [33]:
data_daily_exchange_rates.dtypes

date                     object
United Arab Emirates    float64
Albania                 float64
Argentina               float64
Austria                 float64
                         ...
Uruguay                 float64
Venezuela               float64
Euro area               float64
World                   float64
South Africa            float64
Length: 82, dtype: object

In [36]:
data_daily_exchange_rates.date = [d.replace('-', '') for d in data_daily_exchange_rates['date']]

In [38]:
data_daily_exchange_rates.to_csv('../data/temporal_country_data/daily_exchange_rates_USD.csv', index=False)

In [39]:
data_daily_exchange_rates

,date,United Arab Emirates,Albania,Argentina,Austria,Australia,Bosnia and Herzegovina,Belgium,Bulgaria,Bahrain,...,Turkey,Trinidad and Tobago,Chinese Taipei,Ukraine,United States,Uruguay,Venezuela,Euro area,World,South Africa
0,19790102,3.6710,141.05,0.9910,0.961232,0.868206,1.548559,0.708233,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.720487,0.7643,0.869570
1,19790103,3.6710,141.05,0.9910,0.980871,0.872981,1.548559,0.721863,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.734279,0.7708,0.869570
2,19790104,3.6710,141.05,0.9910,0.987190,0.874126,1.548559,0.725338,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.737121,0.7734,0.869570
3,19790105,3.6710,141.05,0.9910,0.982477,0.874126,1.548559,0.721373,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.735262,0.7718,0.869570
4,19790106,3.6710,141.05,0.9910,0.982477,0.874126,1.548559,0.721373,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.735262,0.7718,0.869570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15809,20220415,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15810,20220416,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15811,20220417,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15812,20220418,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.220000,29.2549,1.0,41.247,248209.92190,0.919287,0.7322,14.647086
15813,20220419,3.6725,111.89,112.9133,0.925669,1.357308,1.757891,0.925669,1.810423,0.376,...,14.664075,6.7568,29.220000,29.2549,1.0,41.247,248209.92190,0.925669,0.7334,14.847820

In [44]:
data_yearly_gdp = pd.read_csv('../data/temporal_country_data/yearly_GDP_data.csv')

In [49]:
data_yearly_gdp.rename(columns={'Unnamed: 0': 'year'}, inplace=True)

In [51]:
data_yearly_gdp.to_csv('../data/temporal_country_data/yearly_GDP_data.csv', index=False)

In [52]:
data_yearly_gdp

,year,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
0,1960,4.054634e+08,1.931311e+10,5.377778e+08,1.040428e+10,5.934074e+09,1.857338e+09,7.861921e+07,3.508707e+10,1.472067e+10,...,3.262000e+09,1.409469e+10,119258835.3,1.387320e+12,121221651.6,5.181777e+09,5.647119e+09,7.575397e+09,7.130000e+08,1.052990e+09
1,1961,4.054634e+08,1.972349e+10,5.488889e+08,1.112805e+10,5.934074e+09,1.857338e+09,7.861921e+07,3.508707e+10,1.472067e+10,...,3.262000e+09,1.409469e+10,119258835.3,1.443860e+12,121221651.6,5.181777e+09,5.647119e+09,7.972997e+09,6.962857e+08,1.096647e+09
2,1962,4.054634e+08,2.149392e+10,5.466667e+08,1.194335e+10,5.934074e+09,1.857338e+09,7.861921e+07,3.508707e+10,1.472067e+10,...,3.262000e+09,1.409469e+10,119258835.3,1.545480e+12,121221651.6,5.181777e+09,5.647119e+09,8.497997e+09,6.931429e+08,1.117602e+09
3,1963,4.054634e+08,2.573321e+10,7.511112e+08,1.267652e+10,5.934074e+09,1.857338e+09,7.861921e+07,3.508707e+10,1.472067e+10,...,3.262000e+09,1.409469e+10,119258835.3,1.666140e+12,121221651.6,5.181777e+09,5.647119e+09,9.423396e+09,7.187143e+08,1.159512e+09
4,1964,4.054634e+08,2.352744e+10,8.000000e+08,1.383858e+10,5.934074e+09,1.857338e+09,7.861921e+07,3.508707e+10,1.472067e+10,...,3.262000e+09,1.409469e+10,119258835.3,1.824280e+12,121221651.6,5.181777e+09,5.647119e+09,1.037400e+10,8.394286e+08,1.217138e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2016,2.983637e+09,8.733550e+11,1.811656e+10,6.905430e+11,1.011240e+11,1.186120e+10,2.896679e+09,2.411980e+12,3.570450e+11,...,3.798000e+09,2.052760e+11,780889605.9,7.630510e+13,799493884.3,6.682833e+09,3.131737e+10,3.235860e+11,2.095841e+10,2.054868e+10
57,2017,3.092430e+09,9.853560e+11,1.875347e+10,6.837420e+11,1.221240e+11,1.301969e+10,3.000181e+09,2.466440e+12,3.856060e+11,...,3.794000e+09,2.237800e+11,880043553.7,8.119330e+13,832025574.0,7.180813e+09,2.684013e+10,3.814490e+11,2.587360e+10,1.758489e+10
58,2018,3.202189e+09,1.012850e+12,1.805323e+10,7.416920e+11,1.013530e+11,1.515643e+10,3.218316e+09,2.730780e+12,4.222150e+11,...,3.900000e+09,2.452140e+11,914727908.1,8.626760e+13,821286927.5,7.878509e+09,2.160614e+10,4.048420e+11,2.631159e+10,1.811554e+10
59,2019,3.202189e+09,1.009910e+12,1.879945e+10,7.945720e+11,8.941719e+10,1.540024e+10,3.155065e+09,2.776470e+12,4.172160e+11,...,4.068000e+09,2.619210e+11,934521604.6,8.756810e+13,852007112.7,7.899879e+09,2.160614e+10,3.879350e+11,2.330867e+10,1.928429e+10
60,2020,3.202189e+09,9.207920e+11,2.011614e+10,7.845880e+11,5.837598e+10,1.488763e+10,3.155065e+09,2.447580e+12,3.588690e+11,...,4.068000e+09,2.711580e+11,881547928.6,8.474700e+13,807100820.6,7.716925e+09,2.160614e+10,3.354420e+11,1.811063e+10,1.805117e+10

In [61]:
country_names_and_codes = pd.read_csv('../data/util/link_between_code_and_name.csv')

In [62]:
cols_to_drop = country_names_and_codes.columns[2:]

In [63]:
country_names_and_codes.drop(cols_to_drop, axis=1, inplace=True)

In [65]:
country_names_and_codes.to_csv('../data/util/link_between_code_and_name.csv', index=False)

In [67]:
country_names_and_codes = pd.read_csv('../data/util/link_between_code_and_name.csv')
country_names_and_codes

                    Country Name Country Code
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

[266 rows x 2 columns]

In [69]:
data_country_location.rename(columns={'Country': 'Country Name'}, inplace=True)

In [75]:
data_country_location

,Country Name,Max Latitude,Min Latitude,Max Longitude,Min Longitude
0,Afghanistan,0.602919,0.723203,0.700916,0.694015
1,Albania,0.639673,0.806625,0.547690,0.575061
2,Algeria,0.590785,0.638480,0.521881,0.494401
3,Angola,0.226062,0.337267,0.556283,0.553128
4,Antigua and Barbuda,0.420557,0.622284,0.312344,0.340846
...,...,...,...,...,...
157,Vanuatu,0.149829,0.319199,0.971261,1.000000
158,Venezuela (Bolivarian Republic of),0.402708,0.489298,0.317608,0.307659
159,Yemen,0.431724,0.582567,0.643012,0.642243
160,Zambia,0.192649,0.336941,0.583627,0.582881
161,Zimbabwe,0.127407,0.301701,0.581835,0.592231

In [91]:
data_country_location_enc = data_country_location.merge(country_names_and_codes, on='Country Name', how='left')

In [92]:
data_country_location_enc[data_country_location_enc['Country Code'].isnull()]

,Country Name,Max Latitude,Min Latitude,Max Longitude,Min Longitude,Country Code
10,Bahamas,0.504089,0.654269,0.280930,0.287141,NaN
31,Congo,0.297195,0.443070,0.540889,0.551801,NaN
36,Czechia,0.713444,0.879222,0.541430,0.554311,NaN
42,Egypt,0.543041,0.662977,0.592818,0.590702,NaN
51,Gambia,0.386178,0.590380,0.448498,0.470882,NaN
67,Iran (Islamic Republic of),0.614350,0.687963,0.667995,0.646456,NaN
79,Kyrgyzstan,0.645036,0.802962,0.716196,0.719237,NaN
80,Lao People's Democratic Republic,0.462499,0.597298,0.794161,0.808323,NaN
118,Republic of Moldova,0.691023,0.853992,0.573555,0.596271,NaN
122,Saint Kitts and Nevis,0.417832,0.623179,0.309868,0.338047,NaN
123,Saint Lucia,0.388728,0.595589,0.314591,0.343184,NaN
124,Saint Vincent and the Grenadines,0.382309,0.586474,0.313908,0.342087,NaN
131,Slovakia,0.700783,0.872630,0.551958,0.568048,NaN
153,United Republic of Tanzania,0.255957,0.388378,0.602891,0.604092,NaN
154,United States of America,0.892377,0.366973,0.999374,0.002482,NaN
158,Venezuela (Bolivarian Republic of),0.402708,0.489298,0.317608,0.307659,NaN
159,Yemen,0.431724,0.582567,0.643012,0.642243,NaN

In [94]:
data_country_location_enc.to_csv('../data/temporal_country_data/country_location_data.csv', index=False)

In [98]:
data_daily_exchange_rates

,date,United Arab Emirates,Albania,Argentina,Austria,Australia,Bosnia and Herzegovina,Belgium,Bulgaria,Bahrain,...,Turkey,Trinidad and Tobago,Chinese Taipei,Ukraine,United States,Uruguay,Venezuela,Euro area,World,South Africa
0,19790102,3.6710,141.05,0.9910,0.961232,0.868206,1.548559,0.708233,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.720487,0.7643,0.869570
1,19790103,3.6710,141.05,0.9910,0.980871,0.872981,1.548559,0.721863,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.734279,0.7708,0.869570
2,19790104,3.6710,141.05,0.9910,0.987190,0.874126,1.548559,0.725338,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.737121,0.7734,0.869570
3,19790105,3.6710,141.05,0.9910,0.982477,0.874126,1.548559,0.721373,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.735262,0.7718,0.869570
4,19790106,3.6710,141.05,0.9910,0.982477,0.874126,1.548559,0.721373,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.735262,0.7718,0.869570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15809,20220415,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15810,20220416,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15811,20220417,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15812,20220418,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.220000,29.2549,1.0,41.247,248209.92190,0.919287,0.7322,14.647086
15813,20220419,3.6725,111.89,112.9133,0.925669,1.357308,1.757891,0.925669,1.810423,0.376,...,14.664075,6.7568,29.220000,29.2549,1.0,41.247,248209.92190,0.925669,0.7334,14.847820

In [105]:
data_daily_exchange_rates_renamed = data_daily_exchange_rates.copy(deep=True)

In [108]:
for col in data_daily_exchange_rates.columns[1:]:
    code = country_names_and_codes[country_names_and_codes['Country Name'] == col]['Country Code'].values
    if len(code) > 0:
        data_daily_exchange_rates_renamed.rename(columns={col: code[0]}, inplace=True)

In [109]:
data_daily_exchange_rates_renamed

,date,ARE,ALB,ARG,AUT,AUS,BIH,BEL,BGR,BHR,...,TUR,TTO,Chinese Taipei,UKR,USA,URY,Venezuela,EMU,WLD,ZAF
0,19790102,3.6710,141.05,0.9910,0.961232,0.868206,1.548559,0.708233,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.720487,0.7643,0.869570
1,19790103,3.6710,141.05,0.9910,0.980871,0.872981,1.548559,0.721863,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.734279,0.7708,0.869570
2,19790104,3.6710,141.05,0.9910,0.987190,0.874126,1.548559,0.725338,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.737121,0.7734,0.869570
3,19790105,3.6710,141.05,0.9910,0.982477,0.874126,1.548559,0.721373,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.735262,0.7718,0.869570
4,19790106,3.6710,141.05,0.9910,0.982477,0.874126,1.548559,0.721373,0.028250,0.376,...,0.000025,5.8340,39.419998,1.7610,1.0,3.637,0.10605,0.735262,0.7718,0.869570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15809,20220415,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15810,20220416,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15811,20220417,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.120000,29.2549,1.0,41.247,248209.92190,0.919287,0.7319,14.647086
15812,20220418,3.6725,111.89,112.9133,0.919287,1.343262,1.757891,0.919287,1.797941,0.376,...,14.620886,6.7502,29.220000,29.2549,1.0,41.247,248209.92190,0.919287,0.7322,14.647086
15813,20220419,3.6725,111.89,112.9133,0.925669,1.357308,1.757891,0.925669,1.810423,0.376,...,14.664075,6.7568,29.220000,29.2549,1.0,41.247,248209.92190,0.925669,0.7334,14.847820

In [111]:
data_daily_exchange_rates_renamed.rename(columns={'Chinese Taipei': 'TWN'}, inplace=True)

In [113]:
data_daily_exchange_rates_renamed.rename(columns={'Brunei': 'BRN',
                                                  'Hong Kong SAR': 'HKG',
                                                  'Iran': 'IRN',
                                                  'Korea': 'KOR',
                                                  'Russia': 'RUS',
                                                  'Slovakia': 'SVK',
                                                  'Venezuela': 'VEN'
                                                 }, inplace=True)

In [115]:
data_daily_exchange_rates_renamed.to_csv('../data/temporal_country_data/daily_exchange_rates_USD.csv', index=False)

In [116]:
data_yearly_hdi = pd.read_csv('../data/temporal_country_data/yearly_HDI.csv')

In [122]:
for col in data_yearly_hdi.columns[1:]:
    code = country_names_and_codes[country_names_and_codes['Country Name'] == str.strip(col)]['Country Code'].values
    if len(code) > 0:
        data_yearly_hdi.rename(columns={col: code[0]}, inplace=True)

In [124]:
[c for c in data_yearly_hdi.columns[1:] if len(c) > 3]

[' Bahamas',
 ' Bolivia (Plurinational State of)',
 ' Congo',
 ' Congo (Democratic Republic of the)',
 ' Czechia',
 " Côte d'Ivoire",
 ' Egypt',
 ' Eswatini (Kingdom of)',
 ' Gambia',
 ' Hong Kong, China (SAR)',
 ' Iran (Islamic Republic of)',
 ' Korea (Republic of)',
 ' Kyrgyzstan',
 " Lao People's Democratic Republic",
 ' Micronesia (Federated States of)',
 ' Moldova (Republic of)',
 ' Palestine, State of',
 ' Saint Kitts and Nevis',
 ' Saint Lucia',
 ' Saint Vincent and the Grenadines',
 ' Slovakia',
 ' Tanzania (United Republic of)',
 ' Venezuela (Bolivarian Republic of)',
 ' Viet Nam',
 ' Yemen']

In [125]:
data_yearly_hdi.rename(columns={
    ' Bahamas': 'BHS',
    ' Bolivia (Plurinational State of)': 'BOL',
    ' Congo': 'COD',
 ' Congo (Democratic Republic of the)': 'COD',
 ' Czechia': 'CZE',
 " Côte d'Ivoire": 'CIV',
 ' Egypt': 'EGY',
 ' Eswatini (Kingdom of)': 'SWZ',
 ' Gambia': 'GMB',
 ' Hong Kong, China (SAR)': 'HKG',
 ' Iran (Islamic Republic of)': 'IRN',
 ' Korea (Republic of)': 'KOR',
 ' Kyrgyzstan': 'KGZ',
 " Lao People's Democratic Republic": 'LAO',
 ' Micronesia (Federated States of)': 'FSM',
 ' Moldova (Republic of)': 'MDA',
 ' Palestine, State of': 'PSE',
 ' Saint Kitts and Nevis': 'KNA',
 ' Saint Lucia': 'LCA',
 ' Saint Vincent and the Grenadines': 'VCT',
 ' Slovakia': 'SVK',
 ' Tanzania (United Republic of)': 'TZA',
 ' Venezuela (Bolivarian Republic of)': 'VEN',
 ' Viet Nam': 'VNM',
 ' Yemen': 'YEM'
}, inplace=True)

In [129]:
data_yearly_hdi.to_csv('../data/temporal_country_data/yearly_HDI.csv', index=False)